<!DOCTYPE html>
<head>
    <title>News</title>
</head>
<body>
    <form action="/news/" method="get">{% csrf_token %}
        <input name = 'q' type="text" placeholder="Enter news..."/>
        <button type="submit">Submit</button>
    </form>
    <h2>Hyper news</h2>
    {% for date, group in News.items %}
        <h4>{{ date }}</h4>

        <ul>
        {% for news in group %}
            <li><a href="/news/{{ news.link }}/">{{ news.title }}</a></li>
        {% endfor %}
        </ul>
    {% endfor %}
    <a href="/news/create/">Create</a>
</body>